<div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSt2ikJb-f gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ge3v-5yhE0" data-id="ge3v-5yhE0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:32px;--mb-mobile:auto;--pl-mobile:auto;--pr-mobile:0px;--mb-tablet:16px;--pl-tablet:auto;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge3v-5yhE0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9A4KH4wLg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0yuhPzUrf" data-id="g0yuhPzUrf"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0yuhPzUrf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7VRSswuQw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="glMH_fzGcf">
    <div
      parentTag="Col"
        class="glMH_fzGcf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:14px;--size-tablet:46px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4D903F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:8px;--pr:8px;--pt:4px;--pb:4px;--pl-mobile:var(--g-s-xs);--pr-mobile:var(--g-s-xs);--pt-mobile:4px;--pb-mobile:4px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;overflow:hidden"
        >{{ section.settings.gglMH_fzGcf_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6MOiTpS7X gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu9eXEaerh gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0dxlvUmEi gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
  <gp-text data-id="gWig0HDHx9">
    <div
      parentTag="Col"
        class="gWig0HDHx9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:33px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWig0HDHx9_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gWig0HDHx9">
        .gWig0HDHx9 {

}
.gWig0HDHx9 p {

}
      </style>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:10px" class="gRLsTlMW7S ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  <gp-text data-id="gRLsTlMW7S">
    <div
      
        class="gRLsTlMW7S "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:800;--ls:normal;--size:24px;--size-tablet:33px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      parentTag="Col" id="gZJfvBWC7L" data-id="gZJfvBWC7L"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZJfvBWC7L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxdBnJPTTA gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gmaT-vFUqC">
    <div
      parentTag="Col"
        class="gmaT-vFUqC "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--size:14px;--size-tablet:46px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#00478E;word-break:break-word;--bgc:rgba(159, 205, 252, 0.5);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:10px;--pr:8px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;overflow:hidden"
        >{{ section.settings.ggmaT-vFUqC_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="ge6mwJ_onv gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gTH6CaVyIc" data-id="gTH6CaVyIc"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:7px;--cg:12px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTH6CaVyIc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGQE3p2gdp gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="g32nUwgT8U"
      
      data-id="g32nUwgT8U"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gIcJewQW4K ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gJyC1O8UDP"
    >
      <div 
      data-id="gJyC1O8UDP"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDD700;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gm9Df_saNn ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gLLLeF5Ikg"
    >
      <div 
      data-id="gLLLeF5Ikg"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDD700;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gPX7ONShvx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gTME6VWecX"
    >
      <div 
      data-id="gTME6VWecX"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDD700;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g0q84IVqUn ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g1vjWm5GJY"
    >
      <div 
      data-id="g1vjWm5GJY"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDD700;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gVJYMEOJA8 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] gTvTgTetlL"
    >
      <div 
      data-id="gTvTgTetlL"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDD700;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzXdVunT4M gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g8I8rDxBH5">
    <div
      parentTag="Col"
        class="g8I8rDxBH5 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8I8rDxBH5_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8I8rDxBH5">
        .g8I8rDxBH5 {

}
.g8I8rDxBH5 p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gDDdjkCDgP" data-id="gDDdjkCDgP"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:10px;--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDDdjkCDgP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g10Xfozp5k gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gan6og2TI5"
        class="gan6og2TI5 gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"gan6og2TI5","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  <gp-text data-id="">
    <div
      id="p-price-gan6og2TI5"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#B4B4B4;--tdt:1px;--ts:none;--ta:left;--ta-mobile:center;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkkqCZEvWB gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gZhdvX3Db1"
        class="gZhdvX3Db1 gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gZhdvX3Db1","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="false"
      >
        
  <gp-text data-id="">
    <div
      id="p-price-gZhdvX3Db1"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1px;--ts:none;--ta:left;--ta-mobile:center;--c:#A40C0C;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:48px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGbYyUeLvi gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g8LfyFDBlH ">
      
  {% liquid
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    assign prefixVal = section.settings.gg8LfyFDBlH_customContent_prefix
    assign suffixVal = 
    if salePrice == null or price == null
      assign pricePercentage = prefixVal | money | append: ' ' | append: suffixVal
    else
        
              if priceSave > 0
                assign priceSaveMoney = priceSave | money
                assign pricePercentage = prefixVal | append: ' ' | append: priceSaveMoney | append: ' ' | append: suffixVal
              else
                assign priceSaveMoney = 0 | money
                assign pricePercentage = prefixVal | append: ' ' | append: priceSaveMoney | append: ' ' | append: suffixVal
              endif
            
    endif
  %}

  <gp-product-tag
  data-id="g8LfyFDBlH"
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"customContent":{"prefix":"Ahorra:","suffix":"","unit":"price"},"translate":"customContent"}, "id": "g8LfyFDBlH", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', '\"' | escape }}"}'
    class="gp-block data-[disabled=true]:gp-hidden "
    style="--ta:left;--ta-mobile:center"
    price-save="{{priceSave}}"
    data-prefix="{{section.settings.gg8LfyFDBlH_customContent_prefix}}"
    data-suffix="{{}}"
  >
     <div class="gp-inline-flex gp-flex-wrap gp-items-end gp-gap-3" >
       <div
         class="gp-flex gp-items-center gp-w-full gp-h-full"
         style="--pl:8px;--pr:8px;--pt:3px;--pb:3px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#1DA650;--radius:var(--g-radius-large)"
       >
         
  <gp-text data-id="">
    <div
      id="p-tag-g8LfyFDBlH"
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:500;--ls:normal;--size:16px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{pricePercentage}}</div>
      </div>
    </div>
    </gp-text>
    
       </div>
     </div>

 </gp-product-tag>
 <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-tag.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
   
      </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gCbhPWoiQM" data-id="gCbhPWoiQM"
        style="--mb:24px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--cg-mobile:[object Object];--pc:start;--pc-mobile:center;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCbhPWoiQM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gW0NZEw60J gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px;--ta:center"
      class="gp-leading-[0] gS2NOmTHvF"
    >
      <div 
      data-id="gS2NOmTHvF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#ff3f79"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:48px;--w-tablet:48px;--w-mobile:32px;--h:48px;--h-tablet:48px;--h-mobile:32px;--minw:48px;--minw-tablet:48px;--minw-mobile:32px;--height-desktop:48px;--height-tablet:48px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="537203215666513138" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 512 512" xml:space="preserve" ><g><path d="M122 54h-19.919l15.749-25.835c1.113-1.824 1.448-3.973.944-6.05s-1.786-3.833-3.611-4.945c-3.766-2.295-8.699-1.099-10.995 2.667l-19.78 32.446A7.942 7.942 0 0 0 83.611 54H44.389a7.99 7.99 0 0 0-.777-1.717l-19.78-32.446c-2.296-3.768-7.229-4.962-10.995-2.667a7.946 7.946 0 0 0-3.611 4.945 7.952 7.952 0 0 0 .944 6.05L25.919 54H6c-2.206 0-4 1.794-4 4v10c0 2.206 1.794 4 4 4h2.411l11.024 47.487A10.953 10.953 0 0 0 30.15 128h67.7c5.145 0 9.551-3.501 10.715-8.513L119.589 72H122c2.206 0 4-1.794 4-4V58c0-2.206-1.794-4-4-4zm-34.196.365 19.78-32.446a4.003 4.003 0 0 1 5.498-1.333 3.967 3.967 0 0 1 1.805 2.473 3.972 3.972 0 0 1-.472 3.024l-19.78 32.446a4.003 4.003 0 0 1-5.498 1.333 4.004 4.004 0 0 1-1.333-5.497zm-74.69-31.306a3.97 3.97 0 0 1 1.805-2.473 4.004 4.004 0 0 1 5.497 1.333l19.78 32.446a4.004 4.004 0 0 1-1.333 5.497 4.004 4.004 0 0 1-5.498-1.333l-19.78-32.446a3.971 3.971 0 0 1-.471-3.024zm91.554 95.524A6.97 6.97 0 0 1 97.85 124h-67.7a6.97 6.97 0 0 1-6.818-5.417L12.518 72h102.965zM122 68H6V58h22.358l1.592 2.611a8.001 8.001 0 0 0 6.844 3.834A7.97 7.97 0 0 0 44.616 58h38.769a7.97 7.97 0 0 0 7.822 6.445c2.7 0 5.339-1.365 6.844-3.834L99.642 58H122z" fill="#ffffff" opacity="1" data-original="#000000" /><path d="M64 119c3.309 0 6-2.691 6-6V81c0-3.309-2.691-6-6-6s-6 2.691-6 6v32c0 3.309 2.691 6 6 6zm-2-38c0-1.103.897-2 2-2s2 .897 2 2v32c0 1.103-.897 2-2 2s-2-.897-2-2zM84.824 118.572a5.965 5.965 0 0 0 4.505-.891 5.964 5.964 0 0 0 2.555-3.815l6.276-31.379a5.961 5.961 0 0 0-.891-4.505 5.957 5.957 0 0 0-3.815-2.555 6.007 6.007 0 0 0-7.061 4.706l-6.275 31.379a5.953 5.953 0 0 0 .891 4.505 5.945 5.945 0 0 0 3.815 2.555zm-.784-6.274 6.275-31.379a2.004 2.004 0 0 1 2.355-1.569c.523.104.975.407 1.271.852s.402.978.297 1.501l-6.276 31.379a1.996 1.996 0 0 1-2.353 1.569h-.001c-.523-.104-.975-.407-1.271-.852s-.402-.978-.297-1.501zM36.116 113.866a5.957 5.957 0 0 0 2.555 3.815 5.96 5.96 0 0 0 4.504.891 5.954 5.954 0 0 0 3.815-2.555 5.953 5.953 0 0 0 .891-4.505l-6.275-31.379a6.008 6.008 0 0 0-7.06-4.706 5.953 5.953 0 0 0-3.816 2.555 5.957 5.957 0 0 0-.891 4.505zM34.06 80.201a1.989 1.989 0 0 1 1.665-.891c.933 0 1.77.658 1.96 1.608l6.275 31.379c.104.523-.001 1.057-.297 1.501s-.748.747-1.271.852h-.001a1.99 1.99 0 0 1-1.501-.297 1.988 1.988 0 0 1-.852-1.272l-6.276-31.379a1.987 1.987 0 0 1 .298-1.501zM64 48c13.234 0 24-10.767 24-24S77.234 0 64 0 40 10.767 40 24s10.766 24 24 24zm0-44c11.028 0 20 8.972 20 20s-8.972 20-20 20-20-8.972-20-20S52.972 4 64 4z" fill="#ffffff" opacity="1" data-original="#000000" /><path d="M60.586 32.414c.375.376.884.586 1.414.586h.037a2.006 2.006 0 0 0 1.429-.639l13-14a2 2 0 0 0-2.932-2.723l-11.587 12.48-6.533-6.532a2 2 0 1 0-2.828 2.828z" fill="#ffffff" opacity="1" data-original="#000000" /></g></svg></span>
    </div>
      </div>
    </div>
    
  <gp-text data-id="gQqcmGUpYX">
    <div
      parentTag="Col"
        class="gQqcmGUpYX "
        style="--ta:left;--mb:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:46px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQqcmGUpYX_text }}</h2>
      </div>
    </div>
    </gp-text>
    
      <gp-estimate-date>
        
  <gp-text data-id="gczGtATP5B">
    <div
      parentTag="Col"
        class="gczGtATP5B {% if product %} !gp-hidden trigger-hidden-class {% endif %} "
        style="--ta:left;--pl:var(--g-s-m);--pb:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--pr-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          setting-estimate-date="%7B%22customText%22%3A%22%22%2C%22typeEstimate%22%3A%22specific%22%2C%22minEstimate%22%3A2%2C%22maxEstimate%22%3A5%2C%22estimateTime%22%3A%220%22%2C%22typeFormat%22%3A%22%25b%20%25d%22%2C%22customFormat%22%3A%22%22%2C%22ifOutOfStock%22%3A%22hide%22%2C%22translate%22%3A%22customText%22%2C%22globalSize%22%3A%7B%22desktop%22%3A%7B%22width%22%3A%22100%25%22%7D%7D%2C%22background%22%3A%7B%22desktop%22%3A%7B%22type%22%3A%22color%22%2C%22color%22%3A%22transparent%22%2C%22image%22%3A%7B%22src%22%3A%22%22%2C%22width%22%3A0%2C%22height%22%3A0%7D%2C%22size%22%3A%22cover%22%2C%22position%22%3A%7B%22x%22%3A50%2C%22y%22%3A50%7D%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22scroll%22%7D%7D%7D"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']  estimate-date-container"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
    <span
      [object Object]
      [object Object]
      
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--c:#121212;word-break:break-word;overflow:hidden"
    >
      
    </span>
   
    <span
      [object Object]
      [object Object]
      class="estimate-date-main"
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
    >
      
    </span>
  </div>
      </div>
    </div>
    </gp-text>
    
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-estimate-date.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </gp-estimate-date>
      
      <style id="custom-css-gczGtATP5B">
        .gczGtATP5B {
    color: red;
    align-content: center;
    text-align: center;
}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTjH9vSvhc gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pb:12px;--pt-mobile:var(--g-s-xl);--pb-mobile:12px" class="gcZXdTGign ">
      
    <div
    data-id="gcZXdTGign"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#ff3f79"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcIw1DMNm6 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px;--ta:center"
      class="gp-leading-[0] gcPh-fawe9"
    >
      <div 
      data-id="gcPh-fawe9"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#ff3f79"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:48px;--w-tablet:48px;--w-mobile:32px;--h:48px;--h-tablet:48px;--h-mobile:32px;--minw:48px;--minw-tablet:48px;--minw-mobile:32px;--height-desktop:48px;--height-tablet:48px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="537203329718027506" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 96 96" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="m89.125 47.022-12.25-13.69A10.012 10.012 0 0 0 69.423 30H58.457l1.038-9.338c.188-1.694-.357-3.395-1.494-4.664S55.235 14 53.531 14H12a2 2 0 0 0 0 4h41.531c.576 0 1.105.236 1.49.666.384.43.562.981.498 1.555L50.21 68H39.152c-.048-2.404-.849-4.625-2.347-6.411C34.862 59.274 32.007 58 28.764 58c-5.876 0-11.507 4.357-13.311 10H6a2 2 0 0 0 0 4h8.848c.048 2.404.849 4.625 2.347 6.411C19.138 80.726 21.993 82 25.236 82c5.876 0 11.507-4.357 13.311-10h19.301c.048 2.404.849 4.625 2.347 6.411C62.138 80.726 64.993 82 68.236 82c5.876 0 11.507-4.357 13.311-10h2.852c3.08 0 5.645-2.31 5.967-5.372l1.252-11.891a10.024 10.024 0 0 0-2.493-7.715zM35.03 69.652C34.219 74.256 29.825 78 25.236 78c-2.04 0-3.808-.768-4.977-2.16-1.204-1.435-1.662-3.385-1.29-5.492.812-4.604 5.206-8.348 9.795-8.348 2.04 0 3.808.768 4.977 2.16 1.203 1.435 1.661 3.385 1.289 5.492zm43 0C77.219 74.256 72.825 78 68.236 78c-2.04 0-3.808-.768-4.977-2.16-1.204-1.435-1.662-3.385-1.29-5.492.812-4.604 5.206-8.348 9.795-8.348 2.04 0 3.808.768 4.977 2.16 1.203 1.435 1.661 3.385 1.289 5.492zm9.61-15.333L86.388 66.21A1.996 1.996 0 0 1 84.399 68h-2.247c-.048-2.404-.849-4.625-2.347-6.411C77.862 59.274 75.007 58 71.764 58c-5.876 0-11.507 4.357-13.311 10h-4.219l3.779-34h11.41c1.705 0 3.335.729 4.472 2l12.25 13.689a6.024 6.024 0 0 1 1.495 4.63zM70.475 38.648A2.002 2.002 0 0 0 69 38h-5a2 2 0 0 0-1.993 1.834l-1 12A2.001 2.001 0 0 0 63 54h17a2.001 2.001 0 0 0 1.475-3.351zM65.174 50l.666-8h2.28l7.333 8zM42 30H28a2 2 0 0 1 0-4h14a2 2 0 0 1 0 4zm-26 0a2 2 0 0 1 0-4h4a2 2 0 0 1 0 4zm22 8a2 2 0 0 1 0 4h-4a2 2 0 0 1 0-4zm-26 0h14a2 2 0 0 1 0 4H12a2 2 0 0 1 0-4zM6 52a2 2 0 0 1 2-2h26a2 2 0 0 1 0 4H8a2 2 0 0 1-2-2zm51 28a2 2 0 0 1-2 2h-9a2 2 0 0 1 0-4h9a2 2 0 0 1 2 2zm-43 0a2 2 0 0 1-2 2H7a2 2 0 0 1 0-4h5a2 2 0 0 1 2 2z" fill="#ffffff" opacity="1" data-original="#000000"/></g></svg></span>
    </div>
      </div>
    </div>
    
  <gp-text data-id="gR8fDHRhTC">
    <div
      parentTag="Col"
        class="gR8fDHRhTC "
        style="--ta:left;--mb:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:46px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggR8fDHRhTC_text }}</h2>
      </div>
    </div>
    </gp-text>
    
      <gp-estimate-date>
        
  <gp-text data-id="gIC-XCi_9Z">
    <div
      parentTag="Col"
        class="gIC-XCi_9Z {% if product %} !gp-hidden trigger-hidden-class {% endif %} "
        style="--ta:left;--pl:var(--g-s-m);--pb:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--pr-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          setting-estimate-date="%7B%22customText%22%3A%22%22%2C%22typeEstimate%22%3A%22specific%22%2C%22minEstimate%22%3A2%2C%22maxEstimate%22%3A5%2C%22estimateTime%22%3A%221%22%2C%22typeFormat%22%3A%22%25b%20%25d%22%2C%22customFormat%22%3A%22%22%2C%22ifOutOfStock%22%3A%22hide%22%2C%22translate%22%3A%22customText%22%2C%22globalSize%22%3A%7B%22desktop%22%3A%7B%22width%22%3A%22100%25%22%7D%7D%2C%22background%22%3A%7B%22desktop%22%3A%7B%22type%22%3A%22color%22%2C%22color%22%3A%22transparent%22%2C%22image%22%3A%7B%22src%22%3A%22%22%2C%22width%22%3A0%2C%22height%22%3A0%7D%2C%22size%22%3A%22cover%22%2C%22position%22%3A%7B%22x%22%3A50%2C%22y%22%3A50%7D%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22scroll%22%7D%7D%7D"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']  estimate-date-container"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
    <span
      [object Object]
      [object Object]
      
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--c:#121212;word-break:break-word;overflow:hidden"
    >
      
    </span>
   
    <span
      [object Object]
      [object Object]
      class="estimate-date-main"
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
    >
      
    </span>
  </div>
      </div>
    </div>
    </gp-text>
    
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-estimate-date.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </gp-estimate-date>
      
      <style id="custom-css-gIC-XCi_9Z">
        .gIC-XCi_9Z {
    color: red;
    align-content: center;
    text-align: center;
}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gO3KeyiNmK gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pb:12px;--pt-mobile:var(--g-s-xl);--pb-mobile:12px" class="gyCiPrrY_2 ">
      
    <div
    data-id="gyCiPrrY_2"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#ff3f79"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ff3f79;--bs:dashed;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:2px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfBDASwg1H gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px;--ta:center"
      class="gp-leading-[0] g2TT1RKRW1"
    >
      <div 
      data-id="g2TT1RKRW1"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#ff3f79"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:48px;--w-tablet:48px;--w-mobile:32px;--h:48px;--h-tablet:48px;--h-mobile:32px;--minw:48px;--minw-tablet:48px;--minw-mobile:32px;--height-desktop:48px;--height-tablet:48px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="537203234926757106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" ><g><g data-name="Layer 7"><path d="M12.6 31.751 1.385 27.078l-.77 1.845L8 32v9a1 1 0 0 0 1 1h5.055a13.279 13.279 0 0 0 1.823 2.293 2.408 2.408 0 0 0 3.742-.418l.193.243a2.342 2.342 0 0 0 4.082-.811 2.4 2.4 0 0 0 3.772-.518A2.346 2.346 0 0 0 30.561 42H45a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v8.339l-6.457-4.178L.457 14.84 16.63 25.305ZM10 40v-7.166l2 .833v1.262A13.224 13.224 0 0 0 13 40Zm18.36.87-4.591-5.51-1.538 1.281 2.487 2.983 1.131 1.508a.764.764 0 0 1 .151.454.43.43 0 0 1-.707.293l-4.586-4.586-1.414 1.415 1.885 1.885.637 1.273a1.75 1.75 0 0 1 .185.783.365.365 0 0 1-.624.22l-3.6-4.493-1.562 1.249 1.678 2.1a3.822 3.822 0 0 1 .1.864.43.43 0 0 1-.707.293A11.173 11.173 0 0 1 14 34.929v-1.643l4.449-7.119 3.21.357a78.207 78.207 0 0 0 8.6.476.743.743 0 0 1 .234 1.449A10.712 10.712 0 0 1 27.1 29H25a1 1 0 0 0-.895 1.448l4.715 9.428a1.711 1.711 0 0 1 .18.762.376.376 0 0 1-.64.232ZM24 10h6v8h-6Zm-14 8.633V10h12v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-9h12v30H30.925a3.66 3.66 0 0 0-.316-1.018L30.118 38H42v-2H29.118l-2.5-5h.482a12.752 12.752 0 0 0 4.029-.653A2.744 2.744 0 0 0 30.257 25a76.435 76.435 0 0 1-8.377-.463l-3.331-.37-.006-.006ZM43.294 44.091l-5.057.722A2.62 2.62 0 0 0 36 47.381l-6.13-1.226a7.035 7.035 0 0 0-4.491.538 2.494 2.494 0 0 0 .326 4.6l12.9 4.3a8.01 8.01 0 0 0 4.475.172l5.972-1.493a.99.99 0 0 0 .872.73l13 1L63.077 54 51 53.074V47h12v-2H50a.989.989 0 0 0-.732.331 9.035 9.035 0 0 0-5.974-1.24Zm-.7 9.73a6.022 6.022 0 0 1-3.357-.129l-12.9-4.3a.494.494 0 0 1-.064-.91 5.023 5.023 0 0 1 3.205-.366l7.95 1.59a2.575 2.575 0 0 0 1.178.294H42v-2h-3.394a.607.607 0 0 1-.085-1.207l5.056-.722a7.076 7.076 0 0 1 4.89 1.109l.533.356v4.684Z" fill="#ffffff" opacity="1" data-original="#000000" /><path d="M34 32h8v2h-8z" fill="#ffffff" opacity="1" data-original="#000000" /></g></g></svg></span>
    </div>
      </div>
    </div>
    
  <gp-text data-id="gpd13YPa_g">
    <div
      parentTag="Col"
        class="gpd13YPa_g "
        style="--ta:left;--mb:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:46px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpd13YPa_g_text }}</h2>
      </div>
    </div>
    </gp-text>
    
      <gp-estimate-date>
        
  <gp-text data-id="g0kjWp0Pci">
    <div
      parentTag="Col"
        class="g0kjWp0Pci {% if product %} !gp-hidden trigger-hidden-class {% endif %} "
        style="--ta:left;--pl:var(--g-s-m);--pb:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--pr-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          setting-estimate-date="%7B%22customText%22%3A%22%22%2C%22typeEstimate%22%3A%22specific%22%2C%22minEstimate%22%3A2%2C%22maxEstimate%22%3A5%2C%22estimateTime%22%3A%223%22%2C%22typeFormat%22%3A%22%25b%20%25d%22%2C%22customFormat%22%3A%22%22%2C%22ifOutOfStock%22%3A%22hide%22%2C%22translate%22%3A%22customText%22%2C%22globalSize%22%3A%7B%22desktop%22%3A%7B%22width%22%3A%22100%25%22%7D%7D%2C%22background%22%3A%7B%22desktop%22%3A%7B%22type%22%3A%22color%22%2C%22color%22%3A%22transparent%22%2C%22image%22%3A%7B%22src%22%3A%22%22%2C%22width%22%3A0%2C%22height%22%3A0%7D%2C%22size%22%3A%22cover%22%2C%22position%22%3A%7B%22x%22%3A50%2C%22y%22%3A50%7D%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22scroll%22%7D%7D%7D"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']  estimate-date-container"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
    <span
      [object Object]
      [object Object]
      
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--c:#121212;word-break:break-word;overflow:hidden"
    >
      
    </span>
   
    <span
      [object Object]
      [object Object]
      class="estimate-date-main"
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:0%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
    >
      
    </span>
  </div>
      </div>
    </div>
    </gp-text>
    
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-estimate-date.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </gp-estimate-date>
      
      <style id="custom-css-g0kjWp0Pci">
        .g0kjWp0Pci {
    color: red;
    align-content: center;
    text-align: center;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g9A_CZdZgk" data-id="g9A_CZdZgk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-2xl);--mt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 2fr) minmax(0, 10fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9A_CZdZgk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gi4k81TSM3 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right;--ta-mobile:right"
      class="gp-leading-[0] gKTe0wlaje"
    >
      <div 
      data-id="gKTe0wlaje"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:24px;--h:30px;--h-tablet:30px;--h-mobile:24px;--minw:30px;--minw-tablet:30px;--minw-mobile:24px;--height-desktop:30px;--height-tablet:30px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="534600506941637841" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#00A650" viewBox="0 0 20 20"><path fill-rule="evenodd" d="m15.998 1.92.848.849-4.093 4.093a5.8 5.8 0 1 1-5.507 0L3.15 2.77 4 1.92l4 4 1.15-1.148L7.144 2.77l.849-.849 2.003 2.004L12 1.921l.849.849-3.43 3.428a5.9 5.9 0 0 1 2.122.178zM10 7.368a4.6 4.6 0 1 0 0 9.199 4.6 4.6 0 0 0 0-9.199"/></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gb2X6T8TUs gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g-CIN-BYuK">
    <div
      parentTag="Col"
        class="g-CIN-BYuK "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:33px;--size-mobile:13px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#00822F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-CIN-BYuK_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g-CIN-BYuK">
        .g-CIN-BYuK {

}
.g-CIN-BYuK p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gRtVcG6rQ-" data-id="gRtVcG6rQ-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:0px;--ml:auto;--mb:var(--g-s-xl);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pl-mobile:var(--g-s-3xl);--pr-mobile:var(--g-s-3xl);--cg:8px;--pc:start;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRtVcG6rQ- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsnsgajP9K gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gnjPmxCCiV ">
      
    <div
    data-id="gnjPmxCCiV"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--t:gp-rotate(0deg);--bc:#FDE1E5"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FDE1E5;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FDE1E5;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FDE1E5;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLQIlLq-WJ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="giIjIgIH5n ">
      
    <div
    data-id="giIjIgIH5n"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--t:gp-rotate(0deg);--bc:#FEEAE1"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FEEAE1;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FEEAE1;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FEEAE1;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gejzB-Onc8 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gJzjMGj7Mu ">
      
    <div
    data-id="gJzjMGj7Mu"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--t:gp-rotate(0deg);--bc:#FFFBE0"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FFFBE0;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FFFBE0;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FFFBE0;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gktwXf--CR gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gPIvECbXzY ">
      
    <div
    data-id="gPIvECbXzY"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--t:gp-rotate(0deg);--bc:#F2FAE1"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#F2FAE1;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#F2FAE1;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#F2FAE1;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzzEgdYisr gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gO180tKr2o ">
      
    <div
    data-id="gO180tKr2o"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--t:gp-rotate(0deg);--bc:#1DA650"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1DA650;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1DA650;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1DA650;--bs:solid;--bbw:8px;--bbw-tablet:1px;--bbw-mobile:5px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gURBJsofQ-" data-id="gURBJsofQ-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gURBJsofQ- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghp_83Q-uZ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gdYbu_trcE">
    <div
      parentTag="Col"
        class="gdYbu_trcE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--size:24px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdYbu_trcE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdYbu_trcE">
        .gdYbu_trcE {

}
.gdYbu_trcE p {

}
      </style>
    
  <gp-text data-id="gAf3DHNdRc">
    <div
      parentTag="Col"
        class="gAf3DHNdRc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAf3DHNdRc_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAf3DHNdRc">
        .gAf3DHNdRc {

}
.gAf3DHNdRc p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpgLvO9UDP gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gZPU3P2Hgv"
    >
      <div 
      data-id="gZPU3P2Hgv"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:28px;--w-tablet:28px;--w-mobile:28px;--h:28px;--h-tablet:28px;--h-mobile:28px;--minw:28px;--minw-tablet:28px;--minw-mobile:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="534595059446711505" xmlns="http://www.w3.org/2000/svg" width="18" height="17" fill="none" viewBox="0 0 18 17"><path fill="#000" fill-opacity=".9" fill-rule="evenodd" d="M1.4 11.016a1.8 1.8 0 0 0 1.8 1.8h.597v2.92l4.383-2.92h4.62a1.8 1.8 0 0 0 1.8-1.8v-7.2a1.8 1.8 0 0 0-1.8-1.8H3.2a1.8 1.8 0 0 0-1.8 1.8zm11.399.6H7.817l-2.82 1.879v-1.88H3.2a.6.6 0 0 1-.6-.6V3.818a.6.6 0 0 1 .6-.6h9.598a.6.6 0 0 1 .6.6v7.199a.6.6 0 0 1-.6.6" clip-rule="evenodd"/><rect width="8" height="8" x="10" y="8.616" fill="#00A650" rx="4"/><path fill="#fff" d="m13.31 13.333 2.605-2.604.585.585-3.19 3.19-1.81-1.81.585-.586z"/></svg></span>
    </div>
      </div>
    </div>
    
  <gp-text data-id="gG2ubaWGDt">
    <div
      parentTag="Col"
        class="gG2ubaWGDt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG2ubaWGDt_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gG2ubaWGDt">
        .gG2ubaWGDt {

}
.gG2ubaWGDt p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz0pbrIYml gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gW-CyR48uF"
    >
      <div 
      data-id="gW-CyR48uF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:28px;--w-tablet:28px;--w-mobile:28px;--h:28px;--h-tablet:28px;--h-mobile:28px;--minw:28px;--minw-tablet:28px;--minw-mobile:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="534595447856039121" xmlns="http://www.w3.org/2000/svg" width="18" height="17" fill="none" viewBox="0 0 18 17"><path fill="#000" fill-opacity=".9" d="M9.8 2.017H6.204v-1.2H9.8zM5.332 11.82l-.537-1.072 2.604-1.303.003-3.829 1.2.001-.003 4.57z"/><path fill="#000" fill-opacity=".9" fill-rule="evenodd" d="M14.599 9.816a6.58 6.58 0 0 0-2.023-4.755l1.071-1.338-.936-.75L11.64 4.31a6.6 6.6 0 1 0 2.96 5.506m-12 0a5.4 5.4 0 1 1 10.8 0 5.4 5.4 0 0 1-10.8 0" clip-rule="evenodd"/><rect width="8" height="8" x="10" y="8.616" fill="#00A650" rx="4"/><path fill="#fff" d="m13.31 13.333 2.605-2.604.585.585-3.19 3.19-1.81-1.81.585-.586z"/></svg></span>
    </div>
      </div>
    </div>
    
  <gp-text data-id="gtRu6-V5m7">
    <div
      parentTag="Col"
        class="gtRu6-V5m7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtRu6-V5m7_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gtRu6-V5m7">
        .gtRu6-V5m7 {

}
.gtRu6-V5m7 p {

}
      </style>
    
    </div>
    </div>
   
    
  <gp-text data-id="gQdML6gQs3">
    <div
      parentTag="Col"
        class="gQdML6gQs3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-xl);--pl:var(--g-s-xl);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:800;--size:43px;--size-tablet:46px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQdML6gQs3_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBqjAaAzX5">
    <div
      parentTag="Col"
        class="gBqjAaAzX5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--pl:var(--g-s-xl);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:140%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBqjAaAzX5_text }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gC06FgDecC"
    role="presentation"
    class="gp-group/image gC06FgDecC"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mt-mobile:0px;--pt-mobile:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1256/632;--aspect-tablet:1256/632;--aspect-mobile:1256/632;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_536309187924198609-52bf960a-4eb5-4e06-9144-f6764646d792.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1256/632;--aspect-tablet:1256/632;--aspect-mobile:1256/632;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>