

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540495363346269055.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-540495363346269055.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540495363346269055.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540495363346269055.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540495363346269055.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540495363346269055.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540495363346269055.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540495363346269055.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540495363346269055.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540495363346269055.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-540495363346269055.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540495363346269055.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-540495363346269055.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-540495363346269055.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-540495363346269055.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-540495363346269055.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540495363346269055.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-540495363346269055.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-540495363346269055.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-540495363346269055.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540495363346269055.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540495363346269055.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540495363346269055.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540495363346269055.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-540495363346269055.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-540495363346269055.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-540495363346269055.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540495363346269055.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-540495363346269055.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540495363346269055.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-540495363346269055.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-540495363346269055.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540495363346269055.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540495363346269055.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540495363346269055.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540495363346269055.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540495363346269055.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540495363346269055.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540495363346269055.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540495363346269055.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540495363346269055.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-540495363346269055.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540495363346269055.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-540495363346269055.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-540495363346269055.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-540495363346269055.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-540495363346269055.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-540495363346269055.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-540495363346269055.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540495363346269055.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540495363346269055.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-540495363346269055.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-540495363346269055.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-540495363346269055.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-540495363346269055.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-540495363346269055.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-540495363346269055.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-540495363346269055.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-540495363346269055.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540495363346269055.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540495363346269055.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-540495363346269055.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-540495363346269055.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-540495363346269055.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-540495363346269055 .gp-relative{position:relative}.gps-540495363346269055 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540495363346269055 .gp-mb-0{margin-bottom:0}.gps-540495363346269055 .\!gp-inline{display:inline!important}.gps-540495363346269055 .gp-flex{display:flex}.gps-540495363346269055 .gp-grid{display:grid}.gps-540495363346269055 .\!gp-hidden{display:none!important}.gps-540495363346269055 .gp-hidden{display:none}.gps-540495363346269055 .gp-h-full{height:100%}.gps-540495363346269055 .gp-w-full{width:100%}.gps-540495363346269055 .gp-max-w-full{max-width:100%}.gps-540495363346269055 .gp-flex-col{flex-direction:column}.gps-540495363346269055 .gp-gap-y-0{row-gap:0}.gps-540495363346269055 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540495363346269055 .gp-duration-200{transition-duration:.2s}.gps-540495363346269055 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540495363346269055 .tablet\:\!gp-hidden{display:none!important}.gps-540495363346269055 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540495363346269055 .mobile\:\!gp-hidden{display:none!important}.gps-540495363346269055 .mobile\:gp-hidden{display:none}}.gps-540495363346269055 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-540495363346269055 .\[\&_p\]\:gp-inline p{display:inline}.gps-540495363346269055 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-540495363346269055 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTVGsxteuk" data-id="gTVGsxteuk"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTVGsxteuk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnhR7k1oqZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gpLyGvQ_I_" data-id="gpLyGvQ_I_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:0px;--pb:var(--g-s-3xl);--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpLyGvQ_I_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gHh7tkPqW7 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gLPiMfxLpA">
    <div
      parentTag="Col"
        class="gLPiMfxLpA "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--size:32px;--size-tablet:46px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLPiMfxLpA_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gzXRRauCbl">
    <div
      parentTag="Col"
        class="gzXRRauCbl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzXRRauCbl_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gmmL3Ywtqa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gouI-dLnnL"
    role="presentation"
    class="gp-group/image gouI-dLnnL"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-b1f1cde6-ba6d-48da-a820-168a8a0b9d9c_768x.gif" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-9d258f07-a539-4ad4-b96f-69fdda133cbb_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-9d258f07-a539-4ad4-b96f-69fdda133cbb.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:253/253;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-b1f1cde6-ba6d-48da-a820-168a8a0b9d9c_768x.gif" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-9d258f07-a539-4ad4-b96f-69fdda133cbb_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-9d258f07-a539-4ad4-b96f-69fdda133cbb.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:253/253;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSlg.woff) format('woff');
}
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWo9mQ.woff) format('woff');
}
/* adlam */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOqTSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+061F, U+0640, U+2015, U+201B, U+2020-2021, U+2030, U+204F, U+25CC, U+2E28-2E29, U+2E41, U+1E900-1E95F;
}
/* latin-ext */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsjSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSkKJMc3s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWU9maxjFF90Ky3z.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWQ9maxjFF90Ky3z.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWo9maxjFF90Kw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-540495363346269055 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=540495362993947519&sectionId=540495363346269055)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLPiMfxLpA_text","label":"ggLPiMfxLpA_text","default":"💪 Materiales duraderos"},{"type":"html","id":"ggzXRRauCbl_text","label":"ggzXRRauCbl_text","default":"<p>Cinta adhesiva 3M y materiales resistentes al clima garantizan su larga vida útil.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
