

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-537509723491009322.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-537509723491009322.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-537509723491009322.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-537509723491009322.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-537509723491009322.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-537509723491009322.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-537509723491009322.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-537509723491009322.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-537509723491009322.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-537509723491009322.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-537509723491009322.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-537509723491009322.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-537509723491009322.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-537509723491009322.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-537509723491009322.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-537509723491009322.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-537509723491009322.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-537509723491009322.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-537509723491009322.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-537509723491009322.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-537509723491009322.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-537509723491009322.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-537509723491009322.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-537509723491009322.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-537509723491009322.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-537509723491009322.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-537509723491009322.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-537509723491009322.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-537509723491009322.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-537509723491009322.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-537509723491009322.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-537509723491009322.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-537509723491009322.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-537509723491009322.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-537509723491009322.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-537509723491009322.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-537509723491009322.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-537509723491009322.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-537509723491009322.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-537509723491009322.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-537509723491009322.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-537509723491009322.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-537509723491009322.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-537509723491009322.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-537509723491009322.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-537509723491009322 .gp-relative{position:relative}.gps-537509723491009322 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-537509723491009322 .gp-mb-0{margin-bottom:0}.gps-537509723491009322 .\!gp-inline{display:inline!important}.gps-537509723491009322 .gp-flex{display:flex}.gps-537509723491009322 .gp-grid{display:grid}.gps-537509723491009322 .\!gp-hidden{display:none!important}.gps-537509723491009322 .gp-hidden{display:none}.gps-537509723491009322 .gp-h-full{height:100%}.gps-537509723491009322 .gp-w-full{width:100%}.gps-537509723491009322 .gp-max-w-full{max-width:100%}.gps-537509723491009322 .gp-flex-col{flex-direction:column}.gps-537509723491009322 .gp-gap-y-0{row-gap:0}.gps-537509723491009322 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-537509723491009322 .gp-duration-200{transition-duration:.2s}.gps-537509723491009322 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-537509723491009322 .tablet\:\!gp-hidden{display:none!important}.gps-537509723491009322 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-537509723491009322 .mobile\:\!gp-hidden{display:none!important}.gps-537509723491009322 .mobile\:gp-hidden{display:none}}.gps-537509723491009322 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g2Pa8yblWI" data-id="g2Pa8yblWI"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2Pa8yblWI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfxOrJlMM_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghpPTHqRwY"
    role="presentation"
    class="gp-group/image ghpPTHqRwY"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/270;--aspect-tablet:1080/270;--aspect-mobile:1080/270;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-44e98962-dee8-479e-a340-621a6586189f.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/270;--aspect-tablet:1080/270;--aspect-mobile:1080/270;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gJAXXJe7Xa"
    role="presentation"
    class="gp-group/image gJAXXJe7Xa"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-4c6c86fb-b5e9-4170-b4f9-0883828fa757.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l)" class="g5Ww6pW_Nc ">
      
    <div
      
      style="--ta:center;--ta-mobile:center"
    >
      <script type="text/plain" class="product-json" id="product-json{{product.id}}">{{ product | json }}</script>
      <div class="_rsi-cod-form-is-gempage"></div>
      <div class="_rsi-cod-form-gempages-button-hook"></div>
      <div id="_rsi-cod-form-embed-custom-hook"></div>
    </div>
  
      </div><div
    
     data-id="gYcsUxdf6t"
    role="presentation"
    class="gp-group/image gYcsUxdf6t"
    style="--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-f2c6ada5-26b0-4739-9da0-db06f54a3b13.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gJepcIbtOO"
    role="presentation"
    class="gp-group/image gJepcIbtOO"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-71ff260c-f71f-445e-a51a-3f97ca63d2f9.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)" class="gvBweiYCOk ">
      
    <div
      
      style="--ta:left;--ta-mobile:center"
    >
      <script type="text/plain" class="product-json" id="product-json{{product.id}}">{{ product | json }}</script>
      <div class="_rsi-cod-form-is-gempage"></div>
      <div class="_rsi-cod-form-gempages-button-hook"></div>
      <div id="_rsi-cod-form-embed-custom-hook"></div>
    </div>
  
      </div><div
    
     data-id="gGwp7Ud_it"
    role="presentation"
    class="gp-group/image gGwp7Ud_it"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1500/1500;--aspect-tablet:1500/1500;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1500/1500;--aspect-tablet:1500/1500;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gRqf6qx3dC"
    role="presentation"
    class="gp-group/image gRqf6qx3dC"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-11c210a7-c8b2-4d54-b682-8713fd019b3c.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1080/1350;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l)" class="gsGUIErl2O ">
      
    <div
      
      style="--ta:center;--ta-mobile:center"
    >
      <script type="text/plain" class="product-json" id="product-json{{product.id}}">{{ product | json }}</script>
      <div class="_rsi-cod-form-is-gempage"></div>
      <div class="_rsi-cod-form-gempages-button-hook"></div>
      <div id="_rsi-cod-form-embed-custom-hook"></div>
    </div>
  
      </div><div
    
     data-id="gQ19ssH-1_"
    role="presentation"
    class="gp-group/image gQ19ssH-1_"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1600/1000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-24174e68-ce93-4772-8309-d1886aab5057.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1350;--aspect-tablet:1080/1350;--aspect-mobile:1600/1000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gh-gCO1pQB"
    role="presentation"
    class="gp-group/image gh-gCO1pQB"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1600/1000;--aspect-tablet:1600/1000;--aspect-mobile:1500/1500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-a29c5ad4-62c2-438d-8130-b2475a2d85c4_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-758ffc41-c1b7-43b0-bda0-888f4cba79b3.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1600/1000;--aspect-tablet:1600/1000;--aspect-mobile:1500/1500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-537509723491009322 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=537509276445311996&sectionId=537509723491009322)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
