

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540373036335957124.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-540373036335957124.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540373036335957124.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540373036335957124.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540373036335957124.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540373036335957124.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540373036335957124.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540373036335957124.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540373036335957124.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540373036335957124.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540373036335957124.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-540373036335957124.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-540373036335957124.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540373036335957124.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540373036335957124.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540373036335957124.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540373036335957124.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540373036335957124.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540373036335957124.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-540373036335957124.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540373036335957124.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-540373036335957124.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540373036335957124.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540373036335957124.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540373036335957124.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540373036335957124.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540373036335957124.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540373036335957124.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540373036335957124.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540373036335957124.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540373036335957124.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540373036335957124.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-540373036335957124.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-540373036335957124.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-540373036335957124.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540373036335957124.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540373036335957124.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-540373036335957124.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-540373036335957124.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-540373036335957124.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-540373036335957124.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-540373036335957124.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540373036335957124.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540373036335957124.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-540373036335957124.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-540373036335957124 .gp-relative{position:relative}.gps-540373036335957124 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540373036335957124 .gp-mb-0{margin-bottom:0}.gps-540373036335957124 .\!gp-inline{display:inline!important}.gps-540373036335957124 .gp-flex{display:flex}.gps-540373036335957124 .gp-grid{display:grid}.gps-540373036335957124 .\!gp-hidden{display:none!important}.gps-540373036335957124 .gp-hidden{display:none}.gps-540373036335957124 .gp-h-full{height:100%}.gps-540373036335957124 .gp-w-full{width:100%}.gps-540373036335957124 .gp-max-w-full{max-width:100%}.gps-540373036335957124 .gp-flex-col{flex-direction:column}.gps-540373036335957124 .gp-gap-y-0{row-gap:0}.gps-540373036335957124 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540373036335957124 .gp-duration-200{transition-duration:.2s}.gps-540373036335957124 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540373036335957124 .tablet\:\!gp-hidden{display:none!important}.gps-540373036335957124 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540373036335957124 .mobile\:\!gp-hidden{display:none!important}.gps-540373036335957124 .mobile\:gp-hidden{display:none}}.gps-540373036335957124 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGVqoVzOaS" data-id="gGVqoVzOaS"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGVqoVzOaS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc0WwyGQc- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gZs34tek6v" data-id="gZs34tek6v"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZs34tek6v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjr1cnzUKh gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJeMCA4MLz"
    role="presentation"
    class="gp-group/image gJeMCA4MLz"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.soysofi.com/collections/moda" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-03559bd6-7363-4ffd-b6d5-c72b76ae797d_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-03559bd6-7363-4ffd-b6d5-c72b76ae797d_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQOerFloyx gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_9jBsCSeM"
    role="presentation"
    class="gp-group/image g_9jBsCSeM"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.soysofi.com/collections/belleza" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-8de24c82-d07b-4ad1-a74f-a51c0d1e18e2_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-8de24c82-d07b-4ad1-a74f-a51c0d1e18e2_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gqwtcBdmvF" data-id="gqwtcBdmvF"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqwtcBdmvF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC0bIQwlbQ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqfGkFHKxP"
    role="presentation"
    class="gp-group/image gqfGkFHKxP"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-s);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.soysofi.com/collections/tecnologia" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-a78f29df-4c23-465a-b980-363b4d249b31_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-a78f29df-4c23-465a-b980-363b4d249b31_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giJpfj5YRe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g8vVaf489I"
    role="presentation"
    class="gp-group/image g8vVaf489I"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-s);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.soysofi.com/collections/gadgets" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-19428f34-ad41-4a1f-ba9a-f72074f1b42f_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-19428f34-ad41-4a1f-ba9a-f72074f1b42f_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:739/1081;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gXFHjzwAql" data-id="gXFHjzwAql"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXFHjzwAql gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0Ys1FT0Ku gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g9ayj-BH_2"
    role="presentation"
    class="gp-group/image g9ayj-BH_2"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-s);--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://www.soysofi.com/collections/hogar" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-7de38733-06c3-4987-a89c-3dcd4c750416_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:1524/673;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-7de38733-06c3-4987-a89c-3dcd4c750416_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-6b07bacf-7351-4020-bf11-a852d6d8e908.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1470/1871;--aspect-tablet:1470/1871;--aspect-mobile:1524/673;--objf:cover;--w-mobile:6060%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gPHGcE_C28 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-540373036335957124 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=540373036285559940&sectionId=540373036335957124)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
