

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539065487565259562.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539065487565259562.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539065487565259562.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539065487565259562.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539065487565259562.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539065487565259562.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539065487565259562.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539065487565259562.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539065487565259562.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539065487565259562.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539065487565259562.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539065487565259562.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539065487565259562.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539065487565259562.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539065487565259562.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539065487565259562.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539065487565259562.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539065487565259562.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539065487565259562.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539065487565259562.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539065487565259562.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539065487565259562.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539065487565259562.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539065487565259562.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539065487565259562.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539065487565259562.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539065487565259562.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-539065487565259562.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539065487565259562.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539065487565259562.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539065487565259562.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539065487565259562.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539065487565259562.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539065487565259562.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539065487565259562.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539065487565259562.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539065487565259562.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539065487565259562.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539065487565259562.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-539065487565259562.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539065487565259562.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539065487565259562.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539065487565259562.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539065487565259562.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539065487565259562.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539065487565259562.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539065487565259562.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-539065487565259562.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-539065487565259562.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539065487565259562.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539065487565259562.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539065487565259562.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539065487565259562.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-539065487565259562.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539065487565259562.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539065487565259562.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539065487565259562.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539065487565259562 .gp-relative{position:relative}.gps-539065487565259562 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539065487565259562 .gp-mb-0{margin-bottom:0}.gps-539065487565259562 .\!gp-inline{display:inline!important}.gps-539065487565259562 .gp-flex{display:flex}.gps-539065487565259562 .gp-grid{display:grid}.gps-539065487565259562 .\!gp-hidden{display:none!important}.gps-539065487565259562 .gp-hidden{display:none}.gps-539065487565259562 .gp-h-full{height:100%}.gps-539065487565259562 .gp-w-full{width:100%}.gps-539065487565259562 .gp-max-w-full{max-width:100%}.gps-539065487565259562 .gp-flex-col{flex-direction:column}.gps-539065487565259562 .gp-gap-y-0{row-gap:0}.gps-539065487565259562 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539065487565259562 .gp-duration-200{transition-duration:.2s}.gps-539065487565259562 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539065487565259562 .tablet\:\!gp-hidden{display:none!important}.gps-539065487565259562 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539065487565259562 .mobile\:\!gp-hidden{display:none!important}.gps-539065487565259562 .mobile\:gp-hidden{display:none}}.gps-539065487565259562 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539065487565259562 .\[\&_p\]\:gp-inline p{display:inline}.gps-539065487565259562 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539065487565259562 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gBIOKEDDTb" data-id="gBIOKEDDTb"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:119px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBIOKEDDTb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsRUk5NbL5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gaP7FaEH1j" data-id="gaP7FaEH1j"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pb:127px;--mb-mobile:0px;--pb-mobile:68px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(0, 253, 48, 0.12);--bgc-mobile:rgba(0, 253, 48, 0.12);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gaP7FaEH1j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g44CoxztPb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gulikIFzfO" data-id="gulikIFzfO"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--pl:15px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gulikIFzfO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-CenUPiMZ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gNkBunraIk"
    role="presentation"
    class="gp-group/image gNkBunraIk"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:-89px;--mb:24px;--mt-mobile:-77px;--mb-mobile:28px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:792/276;--aspect-tablet:792/276;--aspect-mobile:792/276;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_536309187924198609-499e63be-505b-4275-af13-8986598d3b50.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:792/276;--aspect-tablet:792/276;--aspect-mobile:792/276;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gNkBunraIk">
        .gNkBunraIk {

}
.gNkBunraIk > figure > img {

}
      </style>
    
  <gp-text data-id="go4QDbzPdP">
    <div
      parentTag="Col"
        class="go4QDbzPdP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggo4QDbzPdP_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-539065487565259562 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0vwnk8-8u/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=537191787664507968&sectionId=539065487565259562)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggo4QDbzPdP_text","label":"ggo4QDbzPdP_text","default":"Garantía de devolución del dinero del 100 %"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
