

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539063599289599108.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539063599289599108.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539063599289599108.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539063599289599108.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539063599289599108.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539063599289599108.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539063599289599108.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539063599289599108.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539063599289599108.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539063599289599108.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539063599289599108.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539063599289599108.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539063599289599108.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539063599289599108.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539063599289599108.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539063599289599108.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539063599289599108.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539063599289599108.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539063599289599108.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539063599289599108.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539063599289599108.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539063599289599108.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539063599289599108.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539063599289599108.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539063599289599108.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539063599289599108.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539063599289599108.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539063599289599108.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539063599289599108.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539063599289599108.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539063599289599108.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539063599289599108.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539063599289599108.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539063599289599108.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539063599289599108.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539063599289599108.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539063599289599108.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539063599289599108.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539063599289599108.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539063599289599108.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539063599289599108.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539063599289599108.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539063599289599108.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539063599289599108.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-539063599289599108.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539063599289599108.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539063599289599108.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539063599289599108.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539063599289599108.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539063599289599108.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539063599289599108.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-539063599289599108.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539063599289599108.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539063599289599108.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539063599289599108.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539063599289599108.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539063599289599108.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539063599289599108.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539063599289599108.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539063599289599108.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539063599289599108.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539063599289599108.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-539063599289599108.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539063599289599108.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539063599289599108.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539063599289599108.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539063599289599108.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539063599289599108.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539063599289599108.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539063599289599108.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539063599289599108.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539063599289599108.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539063599289599108.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539063599289599108.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539063599289599108.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-539063599289599108.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539063599289599108.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539063599289599108.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539063599289599108 .gp-relative{position:relative}.gps-539063599289599108 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539063599289599108 .gp-mb-0{margin-bottom:0}.gps-539063599289599108 .\!gp-inline{display:inline!important}.gps-539063599289599108 .gp-flex{display:flex}.gps-539063599289599108 .gp-inline-flex{display:inline-flex}.gps-539063599289599108 .gp-grid{display:grid}.gps-539063599289599108 .\!gp-hidden{display:none!important}.gps-539063599289599108 .gp-hidden{display:none}.gps-539063599289599108 .gp-h-full{height:100%}.gps-539063599289599108 .gp-w-full{width:100%}.gps-539063599289599108 .gp-max-w-full{max-width:100%}.gps-539063599289599108 .gp-shrink-0{flex-shrink:0}.gps-539063599289599108 .gp-flex-col{flex-direction:column}.gps-539063599289599108 .gp-items-center{align-items:center}.gps-539063599289599108 .gp-justify-center{justify-content:center}.gps-539063599289599108 .gp-gap-y-0{row-gap:0}.gps-539063599289599108 .gp-overflow-hidden{overflow:hidden}.gps-539063599289599108 .gp-text-left{text-align:left}.gps-539063599289599108 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539063599289599108 .gp-duration-200{transition-duration:.2s}.gps-539063599289599108 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539063599289599108 .tablet\:\!gp-hidden{display:none!important}.gps-539063599289599108 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539063599289599108 .mobile\:\!gp-hidden{display:none!important}.gps-539063599289599108 .mobile\:gp-hidden{display:none}}.gps-539063599289599108 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-539063599289599108 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-539063599289599108 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-539063599289599108 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-539063599289599108 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-539063599289599108 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-539063599289599108 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539063599289599108 .\[\&_p\]\:gp-inline p{display:inline}.gps-539063599289599108 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539063599289599108 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gM4NUl7ccm" data-id="gM4NUl7ccm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pl:15px;--pb:48px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:42px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM4NUl7ccm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZGtI6Zd0b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g-U7M663mJ" data-id="g-U7M663mJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-U7M663mJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJqSTyvrVw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gTATERSOWM">
    <div
      parentTag="Col"
        class="gTATERSOWM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:32px;--size-tablet:16px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTATERSOWM_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gRpXK8bakO">
    <div
      parentTag="Col"
        class="gRpXK8bakO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:48px;--mb-mobile:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRpXK8bakO_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gAZDpWpdJo" data-id="gAZDpWpdJo"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:16px;--mb-mobile:14px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAZDpWpdJo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gy6p_ao89J gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ge35tNPOQM" data-id="ge35tNPOQM"
        style="--bs:none;--bw:0px 0px 0px 1px;--bc:#242424;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:24px;--pl:24px;--pb:8px;--pr:24px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge35tNPOQM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxZ6-vsRAW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gfaocACtd2"
    role="presentation"
    class="gp-group/image gfaocACtd2"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/1200;--aspect-tablet:1200/1200;--aspect-mobile:1200/1200;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_536309187924198609-092eb816-2483-451f-8790-50e6898a9ea0.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/1200;--aspect-tablet:1200/1200;--aspect-mobile:1200/1200;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gfaocACtd2">
        .gfaocACtd2 {

}
.gfaocACtd2 > figure > img {

}
      </style>
    
  <gp-text data-id="gEFpP30gYO">
    <div
      parentTag="Col"
        class="gEFpP30gYO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEFpP30gYO_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEFpP30gYO">
        .gEFpP30gYO {

}
.gEFpP30gYO p {

}
      </style>
    <div gp-el-wrapper  class="gMWXPHyLA2 ">
      
    <gp-icon-list
      uid="gMWXPHyLA2"
      data-id="gMWXPHyLA2"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":25,"mobile":20,"tablet":25}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:14px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMWXPHyLA2"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.ggMWXPHyLA2_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMWXPHyLA2"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.ggMWXPHyLA2_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMWXPHyLA2"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.ggMWXPHyLA2_childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMWXPHyLA2"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.ggMWXPHyLA2_childItem_3 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMWXPHyLA2"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="4"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.ggMWXPHyLA2_childItem_4 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkl_EBsSvl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g2fjz-0Fug" data-id="g2fjz-0Fug"
        style="--bs:solid;--bw:0px 0px 0px 1px;--bc:#242424;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:24px;--pl:24px;--pb:8px;--pr:24px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2fjz-0Fug gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw5fEexRiu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gshQtyHz1I"
    role="presentation"
    class="gp-group/image gshQtyHz1I"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/1200;--aspect-tablet:1200/1200;--aspect-mobile:1200/1200;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_536309187924198609-61724516-190b-40b0-971f-113f3225914e.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/1200;--aspect-tablet:1200/1200;--aspect-mobile:1200/1200;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gshQtyHz1I">
        .gshQtyHz1I {

}
.gshQtyHz1I > figure > img {

}
      </style>
    
  <gp-text data-id="gRJ_t4g6qD">
    <div
      parentTag="Col"
        class="gRJ_t4g6qD "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRJ_t4g6qD_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRJ_t4g6qD">
        .gRJ_t4g6qD {

}
.gRJ_t4g6qD p {

}
      </style>
    <div gp-el-wrapper  class="g7Ov2FT6Sa ">
      
    <gp-icon-list
      uid="g7Ov2FT6Sa"
      data-id="g7Ov2FT6Sa"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":25,"mobile":16,"tablet":25}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:14px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g7Ov2FT6Sa"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.gg7Ov2FT6Sa_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g7Ov2FT6Sa"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.gg7Ov2FT6Sa_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g7Ov2FT6Sa"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.gg7Ov2FT6Sa_childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g7Ov2FT6Sa"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.gg7Ov2FT6Sa_childItem_3 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g7Ov2FT6Sa"
            style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="4"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:11px;--c:#242424">
                {{ section.settings.gg7Ov2FT6Sa_childItem_4 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-539063599289599108 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0vwnk8-8u/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=537191787664507968&sectionId=539063599289599108)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTATERSOWM_text","label":"ggTATERSOWM_text","default":"Porque somos los mejores"},{"type":"html","id":"ggRpXK8bakO_text","label":"ggRpXK8bakO_text","default":"Descubre por qué la antena TDT de 30 decibeles se destaca entre otras antenas TDT."},{"type":"html","id":"ggEFpP30gYO_text","label":"ggEFpP30gYO_text","default":"<p>Nuestra antena</p>"},{"type":"html","id":"ggMWXPHyLA2_childItem_0","label":"ggMWXPHyLA2_childItem_0","default":"<p>Compatible con otras tv</p>"},{"type":"html","id":"ggMWXPHyLA2_childItem_1","label":"ggMWXPHyLA2_childItem_1","default":"<p>Cable coaxial largo</p>"},{"type":"html","id":"ggMWXPHyLA2_childItem_2","label":"ggMWXPHyLA2_childItem_2","default":"<p>+ de 200 canales gratis</p>"},{"type":"html","id":"ggMWXPHyLA2_childItem_3","label":"ggMWXPHyLA2_childItem_3","default":"<p>Contenido 4K</p>"},{"type":"html","id":"ggMWXPHyLA2_childItem_4","label":"ggMWXPHyLA2_childItem_4","default":"<p>Diseño robusto</p>"},{"type":"html","id":"ggRJ_t4g6qD_text","label":"ggRJ_t4g6qD_text","default":"<p>Otras antenas</p>"},{"type":"html","id":"gg7Ov2FT6Sa_childItem_0","label":"gg7Ov2FT6Sa_childItem_0","default":"<p>Compatible con otras tv</p>"},{"type":"html","id":"gg7Ov2FT6Sa_childItem_1","label":"gg7Ov2FT6Sa_childItem_1","default":"<p>Cable coaxial largo</p>"},{"type":"html","id":"gg7Ov2FT6Sa_childItem_2","label":"gg7Ov2FT6Sa_childItem_2","default":"<p>5 canales predeterminados</p>"},{"type":"html","id":"gg7Ov2FT6Sa_childItem_3","label":"gg7Ov2FT6Sa_childItem_3","default":"<p>Contenido 4K</p>"},{"type":"html","id":"gg7Ov2FT6Sa_childItem_4","label":"gg7Ov2FT6Sa_childItem_4","default":"<p>Diseño sencillo</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
