

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540372413750248675.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-540372413750248675.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540372413750248675.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540372413750248675.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540372413750248675.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540372413750248675.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540372413750248675.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540372413750248675.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540372413750248675.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540372413750248675.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540372413750248675.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-540372413750248675.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-540372413750248675.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540372413750248675.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540372413750248675.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540372413750248675.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540372413750248675.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540372413750248675.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540372413750248675.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-540372413750248675.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540372413750248675.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-540372413750248675.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-540372413750248675.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-540372413750248675.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540372413750248675.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540372413750248675.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540372413750248675.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540372413750248675.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540372413750248675.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540372413750248675.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540372413750248675.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540372413750248675.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540372413750248675.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540372413750248675.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-540372413750248675.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-540372413750248675.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-540372413750248675.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540372413750248675.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540372413750248675.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-540372413750248675.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-540372413750248675.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-540372413750248675.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-540372413750248675.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-540372413750248675.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-540372413750248675.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540372413750248675.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540372413750248675.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-540372413750248675.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-540372413750248675.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-540372413750248675 .gp-relative{position:relative}.gps-540372413750248675 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540372413750248675 .gp-mb-0{margin-bottom:0}.gps-540372413750248675 .\!gp-inline{display:inline!important}.gps-540372413750248675 .gp-flex{display:flex}.gps-540372413750248675 .gp-grid{display:grid}.gps-540372413750248675 .\!gp-hidden{display:none!important}.gps-540372413750248675 .gp-hidden{display:none}.gps-540372413750248675 .gp-h-full{height:100%}.gps-540372413750248675 .gp-w-full{width:100%}.gps-540372413750248675 .gp-max-w-full{max-width:100%}.gps-540372413750248675 .gp-flex-col{flex-direction:column}.gps-540372413750248675 .gp-gap-y-0{row-gap:0}.gps-540372413750248675 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540372413750248675 .gp-duration-200{transition-duration:.2s}.gps-540372413750248675 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540372413750248675 .tablet\:\!gp-hidden{display:none!important}.gps-540372413750248675 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540372413750248675 .mobile\:\!gp-hidden{display:none!important}.gps-540372413750248675 .mobile\:gp-hidden{display:none}}.gps-540372413750248675 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSMrG0cZy3" data-id="gSMrG0cZy3"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSMrG0cZy3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtOmEM78H4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g9H5RHtLzd"
    role="presentation"
    class="gp-group/image g9H5RHtLzd"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:right;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:965/858;--aspect-tablet:965/858;--aspect-mobile:965/858;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-08532daf-3e7d-45d6-8244-6ed80652a04a.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:965/858;--aspect-tablet:965/858;--aspect-mobile:965/858;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giqc1d9qUJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gDMHAgFd3E"
    role="presentation"
    class="gp-group/image gDMHAgFd3E"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:942/783;--aspect-tablet:942/783;--aspect-mobile:942/783;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-abfcbfdd-6285-4906-8935-65fcd62babc5.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:942/783;--aspect-tablet:942/783;--aspect-mobile:942/783;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-540372413750248675 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=540372413431416035&sectionId=540372413750248675)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
