

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540373036319245444.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540373036319245444.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540373036319245444.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540373036319245444.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540373036319245444.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540373036319245444.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540373036319245444.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540373036319245444.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540373036319245444.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540373036319245444.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540373036319245444.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540373036319245444.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540373036319245444.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540373036319245444.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540373036319245444.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-540373036319245444.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-540373036319245444.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-540373036319245444.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-540373036319245444.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540373036319245444.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540373036319245444.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-540373036319245444.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-540373036319245444.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-540373036319245444.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-540373036319245444.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540373036319245444.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540373036319245444.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540373036319245444.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540373036319245444.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540373036319245444.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540373036319245444.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540373036319245444.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540373036319245444.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540373036319245444.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-540373036319245444.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-540373036319245444.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540373036319245444.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-540373036319245444.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-540373036319245444.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-540373036319245444.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-540373036319245444.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-540373036319245444.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-540373036319245444.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540373036319245444.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540373036319245444.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-540373036319245444.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-540373036319245444.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-540373036319245444.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-540373036319245444.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-540373036319245444.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-540373036319245444.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-540373036319245444.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-540373036319245444.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-540373036319245444.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540373036319245444.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540373036319245444.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-540373036319245444.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-540373036319245444.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-540373036319245444 .gp-relative{position:relative}.gps-540373036319245444 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540373036319245444 .gp-mb-0{margin-bottom:0}.gps-540373036319245444 .gp-flex{display:flex}.gps-540373036319245444 .gp-grid{display:grid}.gps-540373036319245444 .\!gp-hidden{display:none!important}.gps-540373036319245444 .gp-hidden{display:none}.gps-540373036319245444 .gp-max-w-full{max-width:100%}.gps-540373036319245444 .gp-flex-col{flex-direction:column}.gps-540373036319245444 .gp-gap-y-0{row-gap:0}.gps-540373036319245444 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540373036319245444 .gp-duration-200{transition-duration:.2s}.gps-540373036319245444 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540373036319245444 .tablet\:\!gp-hidden{display:none!important}.gps-540373036319245444 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540373036319245444 .mobile\:\!gp-hidden{display:none!important}.gps-540373036319245444 .mobile\:gp-hidden{display:none}}.gps-540373036319245444 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-540373036319245444 .\[\&_p\]\:gp-inline p{display:inline}.gps-540373036319245444 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-540373036319245444 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSNRZDIlaz" data-id="gSNRZDIlaz"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-3xl);--pr-mobile:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSNRZDIlaz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_XaLRBYgh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1HQeT_Yb9" data-id="g1HQeT_Yb9"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1HQeT_Yb9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-5EMVO80P gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfAZVkxwmo" data-id="gfAZVkxwmo"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-s);--mb-tablet:49px;--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfAZVkxwmo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnNw-syQ1c gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQXJ3b-Jdh" data-id="gQXJ3b-Jdh"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:auto;--pc:center;--pc-mobile:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQXJ3b-Jdh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSFcqCeGpm gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gwhgcDJTYi">
    <div
      parentTag="Col"
        class="gwhgcDJTYi "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:32px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwhgcDJTYi_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gY325VAz5_">
    <div
      parentTag="Col"
        class="gY325VAz5_ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggY325VAz5__text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbfvIUXDuF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKxmOmwKyo" data-id="gKxmOmwKyo"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKxmOmwKyo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gceXM3U1vM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gKB2xX0hyx">
    <div
      parentTag="Col"
        class="gKB2xX0hyx "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:32px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKB2xX0hyx_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gYEchNLtud">
    <div
      parentTag="Col"
        class="gYEchNLtud "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYEchNLtud_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBp6P_s3o- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKj6PHIfCk" data-id="gKj6PHIfCk"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKj6PHIfCk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpDoOWZOHJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gGCfyEwfak" data-id="gGCfyEwfak"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGCfyEwfak gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gah2g8vu-L gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gMAfDomNO3">
    <div
      parentTag="Col"
        class="gMAfDomNO3 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:32px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggMAfDomNO3_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g6oaDqYs5W">
    <div
      parentTag="Col"
        class="g6oaDqYs5W "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6oaDqYs5W_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glIT1xM2V4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gT7_4N2J21" data-id="gT7_4N2J21"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:auto;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gT7_4N2J21 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3cAVzfxY5 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gNndkbgRti">
    <div
      parentTag="Col"
        class="gNndkbgRti "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:32px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNndkbgRti_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gHe-ASswFU">
    <div
      parentTag="Col"
        class="gHe-ASswFU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHe-ASswFU_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSlg.woff) format('woff');
}
/* adlam */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOqTSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+061F, U+0640, U+2015, U+201B, U+2020-2021, U+2030, U+204F, U+25CC, U+2E28-2E29, U+2E41, U+1E900-1E95F;
}
/* latin-ext */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsjSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSkKJMc3s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-540373036319245444 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=540373036285559940&sectionId=540373036319245444)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwhgcDJTYi_text","label":"ggwhgcDJTYi_text","default":"+1525"},{"type":"html","id":"ggY325VAz5__text","label":"ggY325VAz5__text","default":"<p>Pedidos&nbsp;</p><p>despachados</p>"},{"type":"html","id":"ggKB2xX0hyx_text","label":"ggKB2xX0hyx_text","default":"+865"},{"type":"html","id":"ggYEchNLtud_text","label":"ggYEchNLtud_text","default":"<p>Personas&nbsp;</p><p>sastifechas</p>"},{"type":"html","id":"ggMAfDomNO3_text","label":"ggMAfDomNO3_text","default":"+235"},{"type":"html","id":"gg6oaDqYs5W_text","label":"gg6oaDqYs5W_text","default":"<p>Reseñas</p><p>en productos</p>"},{"type":"html","id":"ggNndkbgRti_text","label":"ggNndkbgRti_text","default":"+200"},{"type":"html","id":"ggHe-ASswFU_text","label":"ggHe-ASswFU_text","default":"<p>Garantías</p><p>realizadas</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
