

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540495363312714623.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540495363312714623.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540495363312714623.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540495363312714623.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540495363312714623.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540495363312714623.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540495363312714623.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540495363312714623.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540495363312714623.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540495363312714623.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-540495363312714623.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540495363312714623.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540495363312714623.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540495363312714623.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540495363312714623.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540495363312714623.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-540495363312714623.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-540495363312714623.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-540495363312714623.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540495363312714623.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-540495363312714623.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540495363312714623.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-540495363312714623.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-540495363312714623.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-540495363312714623.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-540495363312714623.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-540495363312714623.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-540495363312714623.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-540495363312714623.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540495363312714623.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540495363312714623.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540495363312714623.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540495363312714623.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540495363312714623.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540495363312714623.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540495363312714623.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540495363312714623.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540495363312714623.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-540495363312714623.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540495363312714623.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-540495363312714623.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-540495363312714623.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-540495363312714623.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-540495363312714623.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-540495363312714623.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-540495363312714623.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-540495363312714623.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-540495363312714623.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-540495363312714623.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540495363312714623.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540495363312714623.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-540495363312714623.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-540495363312714623.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-540495363312714623.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-540495363312714623.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-540495363312714623.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-540495363312714623.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-540495363312714623.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-540495363312714623.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-540495363312714623.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540495363312714623.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540495363312714623.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-540495363312714623.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-540495363312714623 .\!gp-relative{position:relative!important}.gps-540495363312714623 .gp-relative{position:relative}.gps-540495363312714623 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540495363312714623 .gp-mb-0{margin-bottom:0}.gps-540495363312714623 .gp-flex{display:flex}.gps-540495363312714623 .gp-inline-flex{display:inline-flex}.gps-540495363312714623 .gp-grid{display:grid}.gps-540495363312714623 .\!gp-hidden{display:none!important}.gps-540495363312714623 .gp-hidden{display:none}.gps-540495363312714623 .gp-h-full{height:100%}.gps-540495363312714623 .gp-w-full{width:100%}.gps-540495363312714623 .gp-max-w-full{max-width:100%}.gps-540495363312714623 .gp-flex-col{flex-direction:column}.gps-540495363312714623 .gp-items-center{align-items:center}.gps-540495363312714623 .gp-justify-center{justify-content:center}.gps-540495363312714623 .gp-gap-y-0{row-gap:0}.gps-540495363312714623 .gp-overflow-hidden{overflow:hidden}.gps-540495363312714623 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540495363312714623 .gp-duration-200{transition-duration:.2s}.gps-540495363312714623 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540495363312714623 .tablet\:\!gp-hidden{display:none!important}.gps-540495363312714623 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540495363312714623 .mobile\:\!gp-hidden{display:none!important}.gps-540495363312714623 .mobile\:gp-hidden{display:none}}.gps-540495363312714623 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-540495363312714623 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-540495363312714623 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-540495363312714623 .\[\&_p\]\:gp-inline p{display:inline}.gps-540495363312714623 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-540495363312714623 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g57I6D6EQP" data-id="g57I6D6EQP"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:0px;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g57I6D6EQP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcPh31H8q9 gp-relative gp-flex gp-flex-col"
    >
       
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-marquee.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee
   data-id="gJT1MTi50s"
    
  gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":true,"itemWidthType":{"desktop":"FIT_CONTENT","mobile":"FIT_CONTENT","tablet":"FIT_CONTENT"},"speed":1,"stopOnHover":false,"uid":"gJT1MTi50s"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#2642fe"},"iconSeparatorColor":"#F2F2F2","iconSeparatorSize":{"desktop":12,"mobile":10,"tablet":24},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"300px","tablet":"300px"},"itemShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"itemSpacing":{"desktop":"45px","mobile":"8px","tablet":"56px"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}}}}'
  class="gJT1MTi50s"
  >
   <div
      class="gp-flex gp-w-full gp-relative"
      style="--jc:center"
    >
  <div class="!gp-relative gp-overflow-hidden" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bg:#2642fe;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--pb:0px">
        <div
    class="gem-marquee gp-overflow-hidden gp-w-full gp-h-full"
     
    >
     <div class="gp-overflow-hidden gp-w-full gp-h-full">
       
   <div
     
      style="--pause-on-hover:running;--pause-on-click:running;--width:100%;--transform:none;overflow:hidden;min-width:100%"
      class="rfm-marquee-container"
    >
      <div
        class="rfm-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      >
        <div class="rfm-initial-child-container">

        
                 <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
                  <div class="gp-flex gem-child-marquee-item gp-items-center" style="[object Object]">
       <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gOysctMa6d gem-marquee-item gem-marquee-item-gOysctMa6d gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gqZVEW9A36">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gqZVEW9A36 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqZVEW9A36_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gtRqHCZR77 gem-marquee-item gem-marquee-item-gtRqHCZR77 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gIJFaJpMGP">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gIJFaJpMGP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIJFaJpMGP_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gCyueCB2P3 gem-marquee-item gem-marquee-item-gCyueCB2P3 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gYhILTEMS1">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gYhILTEMS1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYhILTEMS1_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gRrLPwQNpb gem-marquee-item gem-marquee-item-gRrLPwQNpb gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gUBD3NQ9YG">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gUBD3NQ9YG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUBD3NQ9YG_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div>
    </div>
              </div>
                
        </div>
         <div class="rfm-child-placeholder">
        
                 <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
                  <div class="gp-flex gem-child-marquee-item gp-items-center" style="[object Object]">
       <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gOysctMa6d gem-marquee-item gem-marquee-item-gOysctMa6d gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gqZVEW9A36">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gqZVEW9A36 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqZVEW9A36_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gtRqHCZR77 gem-marquee-item gem-marquee-item-gtRqHCZR77 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gIJFaJpMGP">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gIJFaJpMGP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIJFaJpMGP_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gCyueCB2P3 gem-marquee-item gem-marquee-item-gCyueCB2P3 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gYhILTEMS1">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gYhILTEMS1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYhILTEMS1_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gRrLPwQNpb gem-marquee-item gem-marquee-item-gRrLPwQNpb gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gUBD3NQ9YG">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gUBD3NQ9YG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUBD3NQ9YG_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div>
    </div>
              </div>
                
        </div>
         <div class="rfm-child-placeholder">

        
                 <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
                  <div class="gp-flex gem-child-marquee-item gp-items-center" style="[object Object]">
       <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gOysctMa6d gem-marquee-item gem-marquee-item-gOysctMa6d gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gqZVEW9A36">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gqZVEW9A36 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqZVEW9A36_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gtRqHCZR77 gem-marquee-item gem-marquee-item-gtRqHCZR77 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gIJFaJpMGP">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gIJFaJpMGP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIJFaJpMGP_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gCyueCB2P3 gem-marquee-item gem-marquee-item-gCyueCB2P3 gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gYhILTEMS1">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gYhILTEMS1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYhILTEMS1_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:auto;--maxw-tablet:auto;--maxw-mobile:auto"
                >
                  <div
      class="gRrLPwQNpb gem-marquee-item gem-marquee-item-gRrLPwQNpb gp-overflow-hidden"
      style="--bg:transparent;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  <gp-text data-id="gUBD3NQ9YG">
    <div
      label="Text" tag="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gUBD3NQ9YG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#f2f2f2;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUBD3NQ9YG_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   <span
                      style="--c:#F2F2F2;--w:12px;--w-tablet:24px;--w-mobile:10px;--minw:12px;--minw-tablet:24px;--minw-mobile:10px;--h:12px;--h-tablet:24px;--h-mobile:10px;--ml:45px;--ml-tablet:56px;--ml-mobile:8px;--mr:45px;--mr-tablet:56px;--mr-mobile:8px"
                      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full"
                     
                    >
                    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                    </span>
                </div>
    </div>
              </div>
                
        </div>
      </div>
       <div
        class="rfm-marquee placeholder-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      >
       
      </div>
    </div>
  
     </div>
    </div>
  
  </div>
   </div>
  </gp-marquee>

    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSlg.woff) format('woff');
}
/* adlam */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOqTSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+061F, U+0640, U+2015, U+201B, U+2020-2021, U+2030, U+204F, U+25CC, U+2E28-2E29, U+2E41, U+1E900-1E95F;
}
/* latin-ext */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsjSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSkKJMc3s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-540495363312714623 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=540495362993947519&sectionId=540495363312714623)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqZVEW9A36_text","label":"ggqZVEW9A36_text","default":"<p>ENVÍO GRATIS</p>"},{"type":"html","id":"ggIJFaJpMGP_text","label":"ggIJFaJpMGP_text","default":"<p>GARANTÍA DE SATISFACIÓN</p>"},{"type":"html","id":"ggYhILTEMS1_text","label":"ggYhILTEMS1_text","default":"<p>PAGOS CONTRA ENTREGA</p>"},{"type":"html","id":"ggUBD3NQ9YG_text","label":"ggUBD3NQ9YG_text","default":"<p>COMPRA SEGURA</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
