

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-540372413465101539.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-540372413465101539.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-540372413465101539.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-540372413465101539.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-540372413465101539.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-540372413465101539.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-540372413465101539.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-540372413465101539.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-540372413465101539.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-540372413465101539.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-540372413465101539.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-540372413465101539.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-540372413465101539.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-540372413465101539.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-540372413465101539.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-540372413465101539.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-540372413465101539.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-540372413465101539.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-540372413465101539.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-540372413465101539.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-540372413465101539.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-540372413465101539.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-540372413465101539.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-540372413465101539.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-540372413465101539.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-540372413465101539.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-540372413465101539.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-540372413465101539.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-540372413465101539.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-540372413465101539.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-540372413465101539.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-540372413465101539.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-540372413465101539.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-540372413465101539.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-540372413465101539.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-540372413465101539.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-540372413465101539.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-540372413465101539.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-540372413465101539.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-540372413465101539.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-540372413465101539.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-540372413465101539.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-540372413465101539.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-540372413465101539.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-540372413465101539.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-540372413465101539.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-540372413465101539.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-540372413465101539.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-540372413465101539.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-540372413465101539.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-540372413465101539.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-540372413465101539.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-540372413465101539.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-540372413465101539.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-540372413465101539.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-540372413465101539.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-540372413465101539.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-540372413465101539.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-540372413465101539.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-540372413465101539.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-540372413465101539.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-540372413465101539.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-540372413465101539.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-540372413465101539.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-540372413465101539.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-540372413465101539.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-540372413465101539.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-540372413465101539.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-540372413465101539.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-540372413465101539.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-540372413465101539.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-540372413465101539.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-540372413465101539.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-540372413465101539.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-540372413465101539.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-540372413465101539 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-540372413465101539 .gp-relative{position:relative}.gps-540372413465101539 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-540372413465101539 .gp-mb-0{margin-bottom:0}.gps-540372413465101539 .gp-block{display:block}.gps-540372413465101539 .\!gp-inline{display:inline!important}.gps-540372413465101539 .gp-flex{display:flex}.gps-540372413465101539 .gp-inline-flex{display:inline-flex}.gps-540372413465101539 .gp-grid{display:grid}.gps-540372413465101539 .\!gp-hidden{display:none!important}.gps-540372413465101539 .gp-hidden{display:none}.gps-540372413465101539 .gp-h-full{height:100%}.gps-540372413465101539 .gp-w-full{width:100%}.gps-540372413465101539 .gp-max-w-full{max-width:100%}.gps-540372413465101539 .gp-flex-none{flex:none}.gps-540372413465101539 .gp-shrink-0{flex-shrink:0}.gps-540372413465101539 .gp-flex-col{flex-direction:column}.gps-540372413465101539 .gp-items-center{align-items:center}.gps-540372413465101539 .gp-justify-start{justify-content:flex-start}.gps-540372413465101539 .gp-justify-center{justify-content:center}.gps-540372413465101539 .gp-gap-y-0{row-gap:0}.gps-540372413465101539 .gp-overflow-hidden{overflow:hidden}.gps-540372413465101539 .gp-text-left{text-align:left}.gps-540372413465101539 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-540372413465101539 .gp-duration-200{transition-duration:.2s}.gps-540372413465101539 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-540372413465101539 .tablet\:gp-block{display:block}.gps-540372413465101539 .tablet\:\!gp-hidden{display:none!important}.gps-540372413465101539 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-540372413465101539 .mobile\:gp-block{display:block}.gps-540372413465101539 .mobile\:\!gp-hidden{display:none!important}.gps-540372413465101539 .mobile\:gp-hidden{display:none}}.gps-540372413465101539 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-540372413465101539 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-540372413465101539 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-540372413465101539 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-540372413465101539 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-540372413465101539 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-540372413465101539 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-540372413465101539 .\[\&_p\]\:gp-inline p{display:inline}.gps-540372413465101539 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-540372413465101539 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gEAFgbggyd" data-id="gEAFgbggyd"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-4xl);--pb-mobile:var(--g-s-xs);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEAFgbggyd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJjxB_0gBN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_fBKvBQIS" data-id="g_fBKvBQIS"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:700px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_fBKvBQIS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmF6EXUJcH gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gynnEnJArd">
    <div
      parentTag="Col"
        class="gynnEnJArd "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-heading, heading);--weight:400;--size:48px;--size-tablet:46px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggynnEnJArd_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="gVoGJbfvEU">
    <div
      parentTag="Col"
        class="gVoGJbfvEU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVoGJbfvEU_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g88R3FDz_x" data-id="g88R3FDz_x"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:0px;--pb:var(--g-s-3xl);--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g88R3FDz_x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6NwUjc98U gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gPd_Hf1D6p ">
      
    <gp-icon-list
      uid="gPd_Hf1D6p"
      data-id="gPd_Hf1D6p"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gPd_Hf1D6p"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#151515;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:16px;--size-mobile:24px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;--tt:capitalize">
                {{ section.settings.ggPd_Hf1D6p_childItem_0 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-text data-id="gBn1DDoH2B">
    <div
      parentTag="Col"
        class="gBn1DDoH2B "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBn1DDoH2B_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-l);--pb:var(--g-s-2xl);--pr:var(--g-s-xl)" class="gVqVIEvu7j ">
      
    <div
    data-id="gVqVIEvu7j"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div><div gp-el-wrapper  class="gUb1-2Pliv ">
      
    <gp-icon-list
      uid="gUb1-2Pliv"
      data-id="gUb1-2Pliv"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gUb1-2Pliv"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#151515;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:16px;--size-mobile:24px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggUb1-2Pliv_childItem_0 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-text data-id="gCOEtcm7FE">
    <div
      parentTag="Col"
        class="gCOEtcm7FE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCOEtcm7FE_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gDCm8OaBLY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZ1De27YzF"
    role="presentation"
    class="gp-group/image gZ1De27YzF"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45_768x.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45_1024x.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45_768x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45_1024x.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_528313020430943254-22f8e9b6-3375-448d-b8a9-8b5b5e915e45.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gILZxj2iKM gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gH36jTTTP6 ">
      
    <gp-icon-list
      uid="gH36jTTTP6"
      data-id="gH36jTTTP6"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gH36jTTTP6"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#151515;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:16px;--size-mobile:24px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggH36jTTTP6_childItem_0 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-text data-id="gj8fOuHnhW">
    <div
      parentTag="Col"
        class="gj8fOuHnhW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggj8fOuHnhW_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-l);--pb:var(--g-s-2xl);--pr:var(--g-s-xl)" class="gIDx88ypL3 ">
      
    <div
    data-id="gIDx88ypL3"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div><div gp-el-wrapper  class="gYT-jZUWKh ">
      
    <gp-icon-list
      uid="gYT-jZUWKh"
      data-id="gYT-jZUWKh"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":24,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gYT-jZUWKh"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#151515;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-ADLaM-Display, 'ADLaM Display'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:16px;--size-mobile:24px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;--tt:capitalize">
                {{ section.settings.ggYT-jZUWKh_childItem_0 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-text data-id="gq2e3w1MOZ">
    <div
      parentTag="Col"
        class="gq2e3w1MOZ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--pr:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AR-One-Sans, 'AR One Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:120%;--lh-tablet:180%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggq2e3w1MOZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSlg.woff) format('woff');
}
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWo9mQ.woff) format('woff');
}
/* adlam */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOqTSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+061F, U+0640, U+2015, U+201B, U+2020-2021, U+2030, U+204F, U+25CC, U+2E28-2E29, U+2E41, U+1E900-1E95F;
}
/* latin-ext */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsjSkKJMc3uMAA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adlamdisplay/v1/KFOhCnGXkPOLlhx6jD8_b1ZEOsbSkKJMc3s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWU9maxjFF90Ky3z.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWQ9maxjFF90Ky3z.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWn_9PWo9maxjFF90Kw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-540372413465101539 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c1d6ae-0d/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=540372413431416035&sectionId=540372413465101539)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggynnEnJArd_text","label":"ggynnEnJArd_text","default":"Recupera tu energía y bienestar"},{"type":"html","id":"ggVoGJbfvEU_text","label":"ggVoGJbfvEU_text","default":"<p><strong>Citratos FitoVit</strong><span style=\"background-color:rgb(255,255,255);color:rgba(18,18,18,0.9);font-size:16px;\"> combina magnesio y potasio en una fórmula diseñada para mejorar tu rendimiento físico y mental, además de apoyar una adecuada función muscular y cardiovascular</span></p>"},{"type":"html","id":"ggPd_Hf1D6p_childItem_0","label":"ggPd_Hf1D6p_childItem_0","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(18,18,18);font-size:22.5px;\"><strong>⚡Energía Constante&nbsp;</strong></span></p>"},{"type":"html","id":"ggBn1DDoH2B_text","label":"ggBn1DDoH2B_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgba(18,18,18,0.9);font-size:16px;\">Mantente lleno de energía 💪 durante todo el día, sin bajones de cansancio. Equilibra tus niveles de magnesio y potasio, dándote un impulso duradero.</span></p>"},{"type":"html","id":"ggUb1-2Pliv_childItem_0","label":"ggUb1-2Pliv_childItem_0","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(18,18,18);font-size:22.5px;\"><strong>Recuperación Rápida y Sin Calambres ✨&nbsp;</strong></span></p>"},{"type":"html","id":"ggCOEtcm7FE_text","label":"ggCOEtcm7FE_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgba(18,18,18,0.9);font-size:16px;\">Disfruta de una rápida recuperación sin calambres 💥 después de hacer ejercicio. Repone tus electrolitos para que te sientas listo para el siguiente desafío</span></p>"},{"type":"html","id":"ggH36jTTTP6_childItem_0","label":"ggH36jTTTP6_childItem_0","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(18,18,18);font-size:22.5px;\"><strong>Colágeno para Articulaciones y Piel🌟</strong></span></p>"},{"type":"html","id":"ggj8fOuHnhW_text","label":"ggj8fOuHnhW_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgba(18,18,18,0.9);font-size:16px;\">Fortalece tus articulaciones y mejora la elasticidad de tu piel 💧 con colágeno hidrolizado. uida tu cuerpo desde el interior.</span></p>"},{"type":"html","id":"ggYT-jZUWKh_childItem_0","label":"ggYT-jZUWKh_childItem_0","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(18,18,18);font-size:22.5px;\"><strong>Cúrcuma Antiinflamatoria🌿</strong></span></p>"},{"type":"html","id":"ggq2e3w1MOZ_text","label":"ggq2e3w1MOZ_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgba(18,18,18,0.9);font-size:16px;\">Siente alivio en tus articulaciones y reduce la inflamación 🌱. La cúrcuma mejora la movilidad y disminuye el dolor.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
