{% if section.blocks.size > 0 %}
	{{ 'trustpilot-slider.css' | asset_url | stylesheet_tag }}
	<script src="{{ 'trustpilot-slider.js' | asset_url }}" defer="defer"></script>
	<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=635ec62941528a3874e95a76" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<div id="trustpilot-slider" class="trustpilot-banner">
		<div style="max-width: 1500px; margin: 0 auto" class="trustpilot-banner-wrapper">
			<div class="trustpilot-slider-wrapper">
				<div class="trustpilot-box-before-slider">
					<div class="trustpilot-box-title">{{ section.settings.box_title }}</div>
					<img
						src="{{ 'stars.svg' | asset_url }}"
						loading="lazy"
						alt=""
						class="trustpilot-box-stars"
					/>
					<div class="trustpilot-box-review">
						{{ section.settings.box_description }} <strong>{{ section.settings.box_description_reviews }}</strong>
					</div>
					<img
						src="{{ 'Trustpilot-logo.svg' | asset_url }}"
						loading="lazy"
						alt=""
						class="trustpilot-box-logo"
					/>
				</div>
				<div
					data-delay="4000"
					data-animation="slide"
					class="trustpilot-slider-desktop w-slider"
					data-autoplay="false"
					data-easing="ease"
					data-hide-arrows="false"
					data-disable-swipe="false"
					data-autoplay-limit="0"
					data-nav-spacing="3"
					data-duration="500"
					data-infinite="true"
					role="region"
					aria-label="carousel"
				>
					<div class="trustpilot-slider-mask w-slider-mask" id="w-slider-mask-1">
						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{% when 'review-list' %}
									<div
										class="trustbox-slider-slide w-slide"
										aria-label="{{ forloop.index }} of {{ forloop.length }}"
										role="group"
										style="transform: translateX(0px); opacity: 1"
									>
										<div class="trustpilot-slider-slide">
											<div class="trustpilot-slider-card">
												<div class="trustpilot-slider-card-top">
													<img
														loading="lazy"
														width="1250"
														src="{{ block.settings.review_stars_1 | asset_url }}"
														alt=""
														class="trustpilot-stars"
													/>

													{% if block.settings.review_verified_1 == true %}
														<div class="verified-badge-wrapper">
															<img
																src="{{ 'verified-badge.svg' | asset_url }}"
																loading="lazy"
																alt=""
																class="verified-icon"
															/>
															<div class="verified-text">{{ section.settings.review_verified_text }}</div>
														</div>
													{% endif %}
												</div>
												<div class="trustpilot-slider-card-center">
													<div class="trustpilot-slider-card-title">{{ block.settings.review_title_1 }}</div>
													<p class="trustpilot-slider-card-text">{{ block.settings.review_description_1 }}</p>
												</div>
												<div class="trustpilot-slider-card-author">{{ block.settings.review_name_1 }}</div>
											</div>
											<div class="trustpilot-slider-card hide-mobile">
												<div class="trustpilot-slider-card-top">
													<img
														loading="lazy"
														width="1250"
														src="{{ block.settings.review_stars_2 | asset_url }}"
														alt=""
														class="trustpilot-stars"
													/>

													{% if block.settings.review_verified_2 == true %}
														<div class="verified-badge-wrapper">
															<img
																src="{{ 'verified-badge.svg' | asset_url }}"
																loading="lazy"
																alt=""
																class="verified-icon"
															/>
															<div class="verified-text">{{ section.settings.review_verified_text }}</div>
														</div>
													{% endif %}
												</div>
												<div class="trustpilot-slider-card-center">
													<div class="trustpilot-slider-card-title">{{ block.settings.review_title_2 }}</div>
													<p class="trustpilot-slider-card-text">{{ block.settings.review_description_2 }}</p>
												</div>
												<div class="trustpilot-slider-card-author">{{ block.settings.review_name_2 }}</div>
											</div>
											<div class="trustpilot-slider-card hide-ipad">
												<div class="trustpilot-slider-card-top">
													<img
														loading="lazy"
														width="1250"
														src="{{ block.settings.review_stars_3 | asset_url }}"
														alt=""
														class="trustpilot-stars"
													/>

													{% if block.settings.review_verified_3 == true %}
														<div class="verified-badge-wrapper">
															<img
																src="{{ 'verified-badge.svg' | asset_url }}"
																loading="lazy"
																alt=""
																class="verified-icon"
															/>
															<div class="verified-text">{{ section.settings.review_verified_text }}</div>
														</div>
													{% endif %}
												</div>
												<div class="trustpilot-slider-card-center">
													<div class="trustpilot-slider-card-title">{{ block.settings.review_title_3 }}</div>
													<p class="trustpilot-slider-card-text">{{ block.settings.review_description_3 }}</p>
												</div>
												<div class="trustpilot-slider-card-author">{{ block.settings.review_name_3 }}</div>
											</div>
										</div>
									</div>
							{%- endcase -%}
						{%- endfor -%}
					</div>
					<div
						class="trustpilot-slider-left-arrow w-slider-arrow-left"
						role="button"
						tabindex="0"
						aria-controls="w-slider-mask-1"
						aria-label="previous slide"
					>
						<img
							src="{{ 'right-arrow.svg' | asset_url }}"
							loading="lazy"
							alt=""
							class="trustpilot-slider-arrow"
						/>
					</div>
					<div
						class="trustpilot-slider-right-arrow w-slider-arrow-right"
						role="button"
						tabindex="0"
						aria-controls="w-slider-mask-1"
						aria-label="next slide"
					>
						<img
							src="{{ 'left-arrow.svg' | asset_url }}"
							loading="lazy"
							alt=""
							class="trustpilot-slider-arrow"
						/>
					</div>
					<div class="slide-nav w-slider-nav w-slider-nav-invert w-round">
						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{% when 'review-list' %}
									{% if forloop.first %}
										<div
											class="w-slider-dot w-active"
											data-wf-ignore=""
											aria-label="Show slide {{ forloop.index }} of {{ forloop.length }}"
											aria-pressed="true"
											role="button"
											tabindex="0"
											style="margin-left: 3px; margin-right: 3px"
										></div>
									{% else %}
										<div
											class="w-slider-dot"
											data-wf-ignore=""
											aria-label="Show slide {{ forloop.index }} of {{ forloop.length }}"
											aria-pressed="false"
											role="button"
											tabindex="-1"
											style="margin-left: 3px; margin-right: 3px"
										></div>
									{% endif %}
							{%- endcase -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
	"name": "Trustpilot Slider",
	"class": "section",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "box_title",
			"default": "Excellent",
			"label": "Box Title"
		},
		{
			"type": "text",
			"id": "box_description",
			"default": "Based on",
			"label": "Box Description"
		},
		{
			"type": "text",
			"id": "box_description_reviews",
			"default": "800 reviews",
			"label": "Box Description Reviews"
		},
		{
			"type": "text",
			"id": "review_verified_text",
			"default": "Verified",
			"label": "Review Verified Text"
		}
	],
	"blocks": [
		{
			"type": "review-list",
			"name": "List of Reviews",
			"settings": [
				{
					"type": "header",
					"content": "Review #1"
				},
				{
					"type": "select",
					"id": "review_stars_1",
					"options": [
						{
							"value": "stars-4.svg",
							"label": "4 stars"
						},
						{
							"value": "stars.svg",
							"label": "5 stars"
						}
					],
					"default": "stars-4.svg",
					"label": "Review Stars"
				},
				{
					"type": "checkbox",
					"id": "review_verified_1",
					"default": true,
					"label": "Excellent customer service"
				},
				{
					"type": "text",
					"id": "review_title_1",
					"default": "Excellent service and fast delivery! I'm very satisfied with my purchase.",
					"label": "Review Title"
				},
				{
					"type": "text",
					"id": "review_description_1",
					"default": "Excellent service and fast delivery! I'm very satisfied with my purchase.",
					"label": "Review Description"
				},
				{
					"type": "text",
					"id": "review_name_1",
					"default": "Mary E.",
					"label": "Review Name"
				},
				{
					"type": "header",
					"content": "Review #2"
				},
				{
					"type": "select",
					"id": "review_stars_2",
					"options": [
						{
							"value": "stars-4.svg",
							"label": "4 stars"
						},
						{
							"value": "stars.svg",
							"label": "5 stars"
						}
					],
					"default": "stars.svg",
					"label": "Review Stars"
				},
				{
					"type": "checkbox",
					"id": "review_verified_2",
					"default": false,
					"label": "Enable Review Verified"
				},
				{
					"type": "text",
					"id": "review_title_2",
					"default": "I'm happy",
					"label": "Review Title"
				},
				{
					"type": "text",
					"id": "review_description_2",
					"default": "The product quality exceeded my expectations. I'm happy with my choice.",
					"label": "Review Description"
				},
				{
					"type": "text",
					"id": "review_name_2",
					"default": "Jane Q.",
					"label": "Review Name"
				},
				{
					"type": "header",
					"content": "Review #3"
				},
				{
					"type": "select",
					"id": "review_stars_3",
					"options": [
						{
							"value": "stars-4.svg",
							"label": "4 stars"
						},
						{
							"value": "stars.svg",
							"label": "5 stars"
						}
					],
					"default": "stars.svg",
					"label": "Review Stars"
				},
				{
					"type": "checkbox",
					"id": "review_verified_3",
					"default": true,
					"label": "Enable Review Verified"
				},
				{
					"type": "text",
					"id": "review_title_3",
					"default": "Very good service",
					"label": "Review Title"
				},
				{
					"type": "text",
					"id": "review_description_3",
					"default": "Excellent customer service and hassle-free returns. I will definitely shop with you again!",
					"label": "Review Description"
				},
				{
					"type": "text",
					"id": "review_name_3",
					"default": "Susan B.",
					"label": "Review Name"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Trustpilot Slider",
			"blocks": [
				{
					"type": "review-list"
				},
				{
					"type": "review-list"
				}
			]
		}
	]
}
{% endschema %}